.footer {
    padding: 60px 0 70px;
}

.footer__wrapper {
    display: flex;
}

.footer-navigation {
    flex-grow: 1;
    padding-left: 151px;
}

.footer-navigation__title {
    margin: 0 0 15px;
    @include font($size: 2.0rem, $weight: 600, $height: 3.0rem);
}

.footer-navigation__links {
    @extend %font-add;
    a {
        text-decoration: none;
        color: $color-text;
        @extend %transition;
        @include font($size: 1.6rem, $height: 35px, $weight: 400);
        &:hover {
            color: $color-primary;
        }
    }
}
